@font-face {
  font-family: "Roboto Black";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Comfortaa Regular";
  src: url("../assets/fonts/Comfortaa-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

/* 
:root {
 scroll-snap-type: y mandatory; 
}
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa Regular";
  line-height: 1.5;
  color: #0f5159;
}

html {
  font-size: 1rem;
}

body {
  position: relative;
}

h1 {
  font-size: 3em;
  font-family: "Roboto Black";
}

h2 {
  font-size: 2em;
  font-family: "Roboto Black";
  line-height: 1;
}

h3 {
  font-size: 1.5em;
  font-family: "Roboto Black";
  line-height: 1;
}

h4 {
  font-size: 0.8em;
  font-family: "Comfortaa Regular";
  line-height: 1;
  color: #fff;
}

p {
  font-size: 1em;
}

a {
  cursor: pointer;
}

section {
  height: 100vh;
  width: 100%;
  /*  scroll-snap-align: center; */
  display: flex;
}

#one_session .grid_container {
  height: auto;
}

.grid_container {
  width: calc(100% - 540px);
  margin-top: 4vh;
  margin-left: 60px;
  display: grid;
  column-gap: 25px;
  row-gap: 25px;
  justify-items: center;
  align-items: center;
}

.grid_left {
  grid-column-start: 1;
  grid-column-end: 2;
  min-width: 10vw;
}

.grid_right {
  grid-column-start: 2;
  grid-column-end: 3;
  min-width: 10vw;
}

.grid_full {
  grid-column-start: 1;
  grid-column-end: 3;
}

.img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.nav_map {
  height: 6569.7002px;
  position: absolute;
  width: 444.6px;
  right: 0px;
  top: calc(100vh + 20px);
  transform: scale(0.945);
  transform-origin: top;
  -webkit-transform: scale(0.945);
  -moz-transform: scale(0.945);
  -ms-transform: scale(0.945);
  -o-transform: scale(0.945);
}

.nav_map > div {
  position: relative;
}

.nav_map #map {
  position: absolute;
}

.nav_map #car {
  background-image: url(../img/tictac_car.svg);
  offset-path: path(var(--path));
  offset-distance: 0%;
  width: 50px;
  height: 50px;
  transform: rotate(252deg);
  position: absolute;
  -webkit-transform: rotate(252deg);
  -moz-transform: rotate(252deg);
  -ms-transform: rotate(252deg);
  -o-transform: rotate(252deg);
  transition: offset-distance 1s ease-in-out;
  -webkit-transition: offset-distance 1s ease-in-out;
  -moz-transition: offset-distance 1s ease-in-out;
  -ms-transition: offset-distance 1s ease-in-out;
  -o-transition: offset-distance 1s ease-in-out;
}

section#landing {
  background: rgb(15, 81, 89);
  background: linear-gradient(
    60deg,
    rgba(15, 81, 89, 1) 0%,
    rgba(53, 79, 101, 1) 100%
  );
}

/******* Introducing *******/

#introducing .grid_left {
  background-image: url(../img/logo.svg);
  height: 100%;
  width: 20vw;
}

.column_two {
  column-count: 2;
  max-width: 800px;
}

/******* Problem Answer *******/

.problem_answer {
  position: absolute;
  background-color: #e0595a;
  padding: 30px 20px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  z-index: 3;
}

.problem_answer h2,
.problem_answer h4,
.problem_answer p {
  color: #fff;
}

.problem_answer h2 {
  margin-bottom: 20px;
}

.close {
  background-image: url(../img/close.svg);
  height: 20px;
  display: block;
  width: 30px;
  float: right;
  cursor: pointer;
}

.problem {
  background-image: url(../img/spot.svg);
  height: 197.4px;
  width: 197.4px;
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -moz-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -ms-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -o-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  cursor: pointer;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  visibility: hidden;
}

#Problem1 {
  top: 573px;
  left: -83px;
}

#Problem2 {
  /* opacity: 1;
  visibility: visible; */
  top: 1525px;
  left: -70px;
}

#Problem3 {
  top: 2210px;
  left: 30px;
}

#Problem4 {
  top: 3215px;
  left: 30px;
}

#Problem5 {
  top: 4345px;
  left: 82px;
}

.problem:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -moz-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -ms-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
  -o-transition: opacity 1s ease-in-out 1s, transform 0.3s ease-in-out;
}

#Problem1_answer {
  top: 280px;
  right: -200px;
  opacity: 1;
  opacity: 0;
  transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -webkit-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -moz-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -ms-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -o-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
}
#Problem2_answer {
  top: 1180px;
  right: -200px;
  opacity: 1;
  opacity: 0;
  transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -webkit-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -moz-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -ms-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -o-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
}
#Problem3_answer {
  top: 1950px;
  right: -200px;
  opacity: 1;
  opacity: 0;
  transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -webkit-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -moz-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -ms-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -o-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
}
#Problem4_answer {
  top: 3020px;
  right: -200px;
  opacity: 1;
  opacity: 0;
  transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -webkit-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -moz-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -ms-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -o-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
}
#Problem5_answer {
  top: 4080px;
  right: -200px;
  opacity: 1;
  opacity: 0;
  transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -webkit-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -moz-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -ms-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
  -o-transition: right 1s ease-in-out, opacity 0.5 ease-in-out;
}

.nav_map.Problem1_answer #Problem1_answer,
.nav_map.Problem2_answer #Problem2_answer,
.nav_map.Problem3_answer #Problem3_answer,
.nav_map.Problem4_answer #Problem4_answer,
.nav_map.Problem5_answer #Problem5_answer {
  opacity: 1;
  right: 20px;
  transition: right 1s ease-in-out, opacity 0.3 ease-in-out;
}
/****** one session ******/

#one_session {
  position: relative;
  pointer-events: none;
}

#one_session .grid_container {
  margin-left: 78px;
}

.gallery_box {
  width: calc(100vw - 600px);
  overflow: hidden;
  position: relative;
  max-width: 650px;
  min-height: 50vh;
}

.gallery {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: left 0.5s ease-in-out;
}

.gallery > div {
  margin-right: calc(100% - 2 * 250px);
}

.element .icon {
  height: 250px;
  width: 250px;
  background-color: #0f5159;
  border-radius: 50%;
  margin-bottom: 20px;
}
.element h2 {
  margin-bottom: 10px;
}
.element h2,
.element p {
  text-align: center;
  width: 250px;
}

.step1 > .icon {
  background-image: url("../img/icons/Gif1Autoeinsteigen.gif");
  background-size: cover;
}

.step2 > .icon {
  background-image: url("../img/icons/Gif2.gif");
  background-size: cover;
}

.step3 > .icon {
  background-image: url("../img/icons/Gif3-autofährtaufstrasse.gif");
  background-size: cover;
}

.step4 > .icon {
  background-image: url("../img/icons/Gif4KreuzungNeu.gif");
  background-size: cover;
}

.step5 > .icon {
  background-image: url("../img/icons/Gif5autoaussteigen.gif");
  background-size: cover;
}

.step6 > .icon {
  background-image: url("../img/icons/gif6.gif");
  background-size: cover;
}

.step7 > .icon {
  background-image: url("../img/icons/Gif7Autoeinsteigen.gif");
  background-size: cover;
}

.step8 > .icon {
  background-image: url("../img/icons/Gif8LehrerSchüler.gif");
  background-size: cover;
}

.arrow {
  pointer-events: all;
  width: 50px;
  height: 50px;
  background-image: url(../img/arrow.svg);
  position: absolute;
}

.arrow.right {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  top: 38vh;
  left: calc(50vw + 170px);
}

.arrow.left {
  top: 38vh;
  left: calc(50vw - 620px);
}

.background_one {
  background-image: url(../img/Background1.svg);
  height: 140vh;
  width: 50vw;
  position: absolute;
  top: 180vh;
  left: 0;
  background-position: left;
}

.background_two {
  background-image: url(../img/Background2.svg);
  height: 190vh;
  width: 60vw;
  position: absolute;
  bottom: 0;
  left: 0;
  background-position: left bottom;
}

/***** landingpage ********/

.bubble {
  min-width: 20vw;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-bottom: 30px;
  position: relative;
}

.bubble.left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgba(255, 255, 255, 0.1);
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  left: -20px;
  transform: rotate(180deg);
  top: 19px;
}

.bubble.right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid rgba(0, 255, 246, 0.2);
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 19px;
}

.bubble.left,
.bubble.right,
.bubble.left:hover,
.bubble.right:hover {
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}

.bubble.left:hover:before,
.bubble.right:hover:before,
.bubble.right:before,
.bubble.left:before {
  transition: border-left 0.5s ease;
  -webkit-transition: border-left 0.5s ease;
  -moz-transition: border-left 0.5s ease;
  -ms-transition: border-left 0.5s ease;
  -o-transition: border-left 0.5s ease;
}

.bubble.left {
  background-color: rgba(255, 255, 255, 0.1);
}

.bubble.right {
  background-color: rgba(0, 255, 246, 0.2);
  cursor: context-menu;
}

.bubble.left:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.bubble.left:hover:before {
  border-left: 10px solid rgba(255, 255, 255, 0.2);
}

.bubble.right:hover:before {
  border-left: 10px solid rgba(0, 255, 246, 0.2);
}

.bubble.right p {
  display: block;
  padding: 20px;
  height: 100%;
  width: 100%;
}

.bubble a {
  display: block;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#landing * {
  color: #fff;
  list-style: none;
  text-decoration: none;
}

#landing .grid_container {
  width: 100%;
  margin: 10px;
}

#landing .grid_left,
#landing .grid_right {
  height: 80%;
  display: flex;
  flex-direction: column-reverse;
  left: 0;
  width: 42vw;
  align-items: flex-start;
}

#landing .grid_right {
  align-items: flex-end;
  flex-direction: column;
}

/***** data ********/

#data {
  height: fit-content;
}

/***** Team ********/

#team {
  height: fit-content;
}
#team > .grid_container {
  row-gap: 0px;
}
#team > .grid_container :first-child > h1 {
  font-size: 3em;
  font-family: "Roboto Black";
  margin-bottom: -50px;
}
/***** responsive ********/

@media only screen and (max-width: 1200px) {
  .column_two {
    column-count: 1;
  }
}
