.responsive_video {
  position: relative;
  /* padding-bottom: 56.25%; */
  padding-top: 0px;
  width: calc(100% - 510px);
  margin-left: 8vw;
  overflow: hidden;
}

.responsive_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
