.responsive_video {
  position: relative;
  padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
  padding-top: 0px;
  width: calc(100% - 475px);
  margin-left: 30px;
  height: 0;
  overflow: hidden;
}

.responsive_video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
